.board-container {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 28px;
    color: #707090;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  .columns-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    overflow: scroll;
    padding-bottom: 10px;
  }
}
